.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.place__paragraph:first-of-type{
  padding-bottom: 26px;
  }

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .place__paragraph:first-of-type{
    padding-bottom: 25px;
    }
}

@media screen and (max-width: 680px) {
  .place__paragraph {
    font-size: 16.5px;
    line-height: 26px;
  }
}


